# IDE
.vscode/
.idea/
*.swp
*.swo
*.github
*~
.DS_Store

# Backend
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/*.log
backend/data/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

# OS
Thumbs.db
